@font-face {
    font-family: "CADT";
    src: url("../fonts/CADTMonoDisplay-Regular.ttf");
}

@font-face {
    font-family: "primary";
    src: url("../fonts/GameScoreDemoRegular.ttf");
}

@font-face {
    font-family: "secondary";
    src: url("../fonts/Courier_New_Bold.ttf");
}

/* reset style */
* {
    margin: 0;
    padding: 0;
    font-family: "secondary";
}

/* end reset style */

.text-center {
    text-align: center !important;
}

.text-white {
    color: white;
}

.text-primary {
    color: #420202;
}

.font-primary {
    font-family: "primary" !important;
}

.font-secondary {
    font-family: "secondary" !important;
}

.font-cadt {
    font-family: "CADT";
}

.pd-20px {
    padding: 20px;
}


footer img {
    width: 100%;
}

/* Navigation Bar */
.logo {
    color: white;
    font-family: "CADT";
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}

.navbar {
    background: #420202;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
}

ul.menu-link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}


ul.menu-link>li>a {
    color: white;
    padding: 20px;
    text-decoration: none;
}

ul.menu-link>li {
    height: 60px;
    display: flex;
}

ul.menu-link>li:hover {
    background: white;
}

ul.menu-link>li:hover a {
    color: #420202;
}

/* Navigation Bar */
.first-section {
    width: 100%;
    background: #420202;
    height: 70vh;
    display: flex;
    align-items: center;
}

.cust-pd {
    padding-left: 10%;
}

.mg-bt {
    margin-bottom: 20px;
}

.col-50 {
    width: 50%;
    float: left;
}

.img-home {
    width: 80%;
}

.btn {
    background: white;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
}

.btn:hover {
    background-color: #420202;
    color: white;
    border: 2px solid white;
}

.about-section {
    display: flex;
    align-items: center;
    height: 70vh;
}

.shop {
    width: 300px;
    height: 300px;
    border-radius: 100%;
}
/* .menu-section{
    display: flex;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #210303;
} */
 .menu-section{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color : #210303;
    padding: 50px;
    
 }
 .logo1{
    font-size: 30px;
 }
 .s-r ,.f-r{
    margin-top: 4em;
    margin-bottom: 4em;
    display: flex;
    gap: 4em;
    flex-direction: row;
    background-color: red;
 }
main{
   display: flex; 
   
   flex-direction:column ;
}
.bg-brown{
    background-color: #210303;

}
/* .pic1 .pic2 .pic3 .pic4 .pic5 .pic6 .pic7 .pic8>img{
    width: 25%;
    margin: 10%;
    height: 100px;
    padding: 100px;
} */
 .menu-section  img{
 
 height: 200px;
 margin: 0px 30px;
 }
 .f-r h1, p , .s-r  h1, p {
    color: white;
    font-family: secondery;
 }
  
.menu-section {
    margin-top: -7em;
    color: white;
 display: flex;
 flex-direction: column ;
    font-family: primary;
}

.team-section{
    background-color: rgb(254, 254, 254);
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.team-section img{
    width: 250px;
}
.group{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
 .logo2{
    display:    flex;
    justify-content: center;
    align-items: center;
   margin-top: 170px;
   /* flex-wrap: wrap; */
  
    
}
.team-section .logo2 h1{
    font-family: primary;
    color: black;
}
.group p {
    color: #210303;
    font-family: secondary;
    /* padding: 100px; */
    background-color: red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.contact-section{
    width: 100%;
    height: 100vh;
    background-color: rgb(110, 67, 81);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(71, 60, 60);
    /* flex-direction: row; */
}
.contact-infoinput{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
   
}
.text-icon{
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
}
.text-icon p{
    color: black;
}
.logo3 {

 display: flex;
 justify-content: center;
 align-items: center;
}
.contact{
  display: flex;
  flex-direction: column;

}
.form{
  display: flex;
  background-color: #420202;
  flex-direction: column;
  gap: 1em;
}